BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_in" SITE "C1" ;
LOCATE COMP "b_reset" SITE "N14" ;
LOCATE COMP "seg_led_h[0]" SITE "A10" ;
LOCATE COMP "seg_led_h[1]" SITE "C11" ;
LOCATE COMP "seg_led_h[2]" SITE "F2" ;
LOCATE COMP "seg_led_h[3]" SITE "E1" ;
LOCATE COMP "seg_led_h[4]" SITE "E2" ;
LOCATE COMP "seg_led_h[5]" SITE "A9" ;
LOCATE COMP "seg_led_h[6]" SITE "B9" ;
LOCATE COMP "seg_led_h[7]" SITE "F1" ;
LOCATE COMP "seg_led_h[8]" SITE "C9" ;
LOCATE COMP "seg_led_l[0]" SITE "C12" ;
LOCATE COMP "seg_led_l[1]" SITE "B14" ;
LOCATE COMP "seg_led_l[2]" SITE "J1" ;
LOCATE COMP "seg_led_l[3]" SITE "H1" ;
LOCATE COMP "seg_led_l[4]" SITE "H2" ;
LOCATE COMP "seg_led_l[5]" SITE "B12" ;
LOCATE COMP "seg_led_l[6]" SITE "A11" ;
LOCATE COMP "seg_led_l[7]" SITE "K1" ;
LOCATE COMP "seg_led_l[8]" SITE "A12" ;
LOCATE COMP "b_mode" SITE "M13" ;
LOCATE COMP "b_step" SITE "L14" ;
LOCATE COMP "leds[0]" SITE "N13" ;
LOCATE COMP "leds[1]" SITE "M12" ;
LOCATE COMP "leds[2]" SITE "P12" ;
LOCATE COMP "leds[3]" SITE "M11" ;
LOCATE COMP "leds[4]" SITE "P11" ;
LOCATE COMP "leds[5]" SITE "N10" ;
LOCATE COMP "leds[6]" SITE "N9" ;
LOCATE COMP "leds[7]" SITE "P9" ;
LOCATE COMP "rgb1[0]" SITE "M2" ;
LOCATE COMP "rgb1[1]" SITE "N2" ;
LOCATE COMP "rgb1[2]" SITE "P2" ;
LOCATE COMP "rgb2[0]" SITE "P4" ;
LOCATE COMP "rgb2[1]" SITE "N3" ;
LOCATE COMP "rgb2[2]" SITE "M3" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "sw[0]" SITE "M7" ;
LOCATE COMP "sw[1]" SITE "M8" ;
LOCATE COMP "sw[2]" SITE "M9" ;
LOCATE COMP "sw[3]" SITE "M10" ;
